<nav class="menu">
    <div class="menu__item menu__item--1" data-direction="bt">
        <div class="menu__item-inner">
            {% include 'partials/universe_menu.html' %}
            {% include 'partials/group_menu.html' %}
            {% include 'partials/story_menu.html' %}
            <p class="label label--topleft label--vert-mirror">the important stuff</p>
            <p class="label label--bottomright label--vert">made in bannockburn</p>
        </div>
    </div>
    <div class="menu__item menu__item--2" data-direction="lr">
        <div class="menu__item-inner">
            <div class="menu__item-map"></div>
            <a href="#" class="menu__item-hoverlink">The location</a>
        </div>
    </div>
    <div class="menu__item menu__item--3" data-direction="bt">
        <div class="menu__item-inner">
            <div class="sidemenu">
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="uni-link">Universes</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="comm-link">Communities</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="char-link">Characters</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="struct-link">Constructions</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="story-link">Stories</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner" id="files-link">Files</span></a>
                <a href="#" class="sidemenu__item"><span class="sidemenu__item-inner">...</span></a>
            </div>
        </div>
    </div>
    <div class="menu__item menu__item--4" data-direction="rl">
        <div class="menu__item-inner">
            <p style="color:#c96d1c;" class="label label--topleft label--line">Projects</p>
            <a href="{% url 'projects:index' request.user.profile.slug %}" style="color: #024449; font-size: 8rem;" class="menu__item-link"><i class="icofont-tasks"></i></a>
        </div>
    </div>
    <div class="menu__item menu__item--5" data-direction="tb">
        <div class="menu__item-inner">
            <p class="quote">Hail to thee, our infantry, still brave, beyond the grave</p>
        </div>
    </div>
    <button style="color: #024449; font-size: 2rem;" class="action action--menu"><span class="icon icon--menu" id="icon-menu"><i class="icofont-compass-alt"></i></span></button>
    <button style="font-size: 2rem;" class="action action--close"><span class="icon icon--close" id="icon-close"><i class="icofont-close-line"></i></span></button>
</nav>
