<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>LitEvolve</h3>
        <strong>LE</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="#uniSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-atom"></i>
                Universe Builder
            </a>
            <ul class="collapse list-unstyled" id="uniSubmenu">
                <li>
                    <a href="{% url 'universes:index' request.user.profile.slug %}">Universes</a>
                </li>
                <li>
                    <a href="#">Natrual Laws</a>
                </li>
                <li>
                    <a href="#">Particles</a>
                </li>
                <li>
                    <a href="#">Atoms</a>
                </li>
                <li>
                    <a href="#">Elements</a>
                </li>
                <li>
                    <a href="#">Compounds</a>
                </li>
                <li>
                    <a href="#">Celestial Body</a>
                </li>
                <li>
                    <a href="#">Natural Phenomena</a>
                </li>
                <li>
                    <a href="#">Seasons</a>
                </li>
                <li>
                    <a href="#">Places</a>
                </li>
                <li>
                    <a href="#">Natural Objects</a>
                </li>
                <li>
                    <a href="#">Species</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fas fa-user-astronaut"></i> Characters</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-book"></i> Stories</a>
        </li>
        <li>
            <a href="#worldSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Communities
            </a>
            <ul class="collapse list-unstyled" id="worldSubmenu">
                <li>
                    <a href="{% url 'communities:society-index' request.user.profile.slug %}">Societies</a>
                </li>
                <li>
                    <a href="{% url 'communities:religion-index' request.user.profile.slug %}">Religions</a>
                </li>
                <li>
                    <a href="{% url 'communities:social-group-index' request.user.profile.slug %}">Social Groups</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a class="download text-center" href="#">
                <i class="fas fa-power-off"></i>
                Logout
            </a>
        </li>
    </ul>
</nav>
