<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>LitEvolve</h3>
        <strong>LE</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="{% url 'worlds:index' request.user.profile.id %}"><i class="fas fa-globe"></i> Worlds</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user-astronaut"></i> Characters</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-book"></i> Stories</a>
        </li>
        <li>
            <a href="#worldSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users"></i>
                Communities
            </a>
            <ul class="collapse list-unstyled" id="worldSubmenu">
                <li>
                    <a href="{% url 'communities:society-index' request.user.profile.id %}">Societies</a>
                </li>
                <li>
                    <a href="{% url 'communities:religion-index' request.user.profile.id %}">Religions</a>
                </li>
                <li>
                    <a href="{% url 'communities:social-group-index' request.user.profile.id %}">Social Groups</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a class="download text-center" href="#">
                <i class="fas fa-power-off"></i>
                Logout
            </a>
        </li>
    </ul>
</nav>
