.surfi-green {
    color: #097275;
    background-color: rgb(9,114,117);
}

.sherpa-blue {
    color: #024449;
    background-color: rgb(2,68,73);
}

.gin-fizz {
    color: #f4e9cd;
    background-color: rgb(244,233,205);
}

.chocolate {
    color: #c96d1c;
    background-color: rgb(201,109,28);
}

.tulip-tree {
    color: #e2ad38;
    background-color: rgb(226,173,56);
}
